body {
  background-color: darkgrey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  width: 250px;
  background-color: grey;
  padding: 1em;
  border-radius: 1em;
}

.wrapper > * {
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

button {
  border: none;
  font: inherit;
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

[class*="-btn"] {
  background-color: whitesmoke;
}

[class*="-equa_btn"] {
  background-color: orange;
}

.result {
  width: 250px;
  height: 60px;
  background-color: black;
  border-radius: 1em;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.result > .result-text {
  font-family: "Orbitron", sans-serif;
  margin-left: auto;
  margin-right: 20px;
}

.clear-btn {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.backspace-btn {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.div-equa_btn {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.seven-btn {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.eight-btn {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.nine-btn {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.mult-equa_btn {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.four-btn {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.five-btn {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.six-btn {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.sub-equa_btn {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

.one-btn {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.two-btn {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.three-btn {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.add-equa_btn {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

.zero-btn {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}

.equal-equa_btn {
  grid-row: 5 / 6;
  grid-column: 4 / 5;
}
